.card {
  border-radius: 20px;
  width: 30%;
  height: 90%;
  animation: fadeIn 1s forwards;

  span {
    text-align: right;
    font-size: 2.1em;
    margin: 3rem;
  }
}

.cardAqua {
  background-color: #60bfba;
}

.cardYellow {
  background-color: #fcbf1b;
}

.cardPurple {
  color: white;
  background-color: #584f9d;
}

.cardOrange {
  background-color: #f59d15;
}

.cardGreen {
  color: white;
  background-color: #007a75;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .cardContent {
      font-size: 1.5rem;
      margin: 3rem;
      text-align: right;
    }
}