.card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem;
    border-radius: 50px;
    width: 500px;
    height: 525px;
    font-weight: bold;
    text-align: left;
}

.cardMaxWidth {
    position: absolute;
    width: 100%;
    animation: fadeOut 0.5s forwards;
    z-index: 1;
}

.cardBlue {
    background-color: #6BC3C1;
    color: black;
}

.cardPurple {
    background-color: #5B4B8A;
    color: white;
}

.cardYellow {
    background-color: #F3B63A;
    color: black;
}

span {
    display: inline-flex;
    align-items: center;
    line-height: 1;
    font-size: 6rem;
    vertical-align: middle;
}

/* Definición de la animación de desvanecerse hacia fuera */
@keyframes fadeOut {
    0% {
        opacity: 0;  /* Comienza completamente visible */
    }
    100% {
        opacity: 1;  /* Se desvanece hacia invisible */
    }
}
