.comunidad-container {
    text-align: center;
    background-color: #f0f0f0; 
    padding: 1rem 1rem;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 60vw;
  }
  
  .comunidad-title {
    position: relative;
    display: flex;
    justify-content: flex-start;
    font-size: 3vw;
    color: #00695c;
    margin-bottom: 0.5vw;
    margin-left: 7vw;
  }
  
  .comunidad-subtitle {
    position: relative;
    display: flex;
    justify-content: flex-start;
    font-size: 1.2vw;
    color: #686868;
    margin-bottom: 1vw;
    margin-left: 7vw;
  }
  
  .comunidad-line {
    width: 80%;
    height: 0.3vw;
    background-color: #000;
    margin: 2vw auto;
    position: relative;
    top: 20vw;
  }
  
  .central-circle {
    position: absolute;
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vw;
    color: white;
    top: -5.5vw; 
    left: 50%;
    transform: translateX(-50%);
  }
  
  .circles-container {
    position: relative;
    width: 100%;
    height: 100%; 
}

  
  .circle {
    position: absolute;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  
  .interactive-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .interactive-circle .hover-text {
    display: none; 
    position: absolute;
    font-size: 0.8rem;
    color: #fff;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
  }
  
  .interactive-circle:hover {
    transform: scale(1.67); 
  }
  
  .interactive-circle:hover .hover-text {
    display: block; 
  }
  
  /* Tamaños de círculos */
  .xsmall {
    width: 2vw;
    height: 2vw;
  }
  .small {
    width: 4vw;
    height: 4vw;
  }
  
  .medium {
    width: 6vw;
    height: 6vw;
  }
  
  .large {
    width: 8vw;
    height: 8vw;
  }
  .xlarge{
    width: 10vw;
    height: 10vw;
  }
  
  /* Colores de círculos */
  .yellow {
    background-color: #febd3b;
  }
  
  .purple {
    background-color: #9663d6b6;
  }
  .purple2{
    background-color: #350076;
  }
  
  .green {
    background-color: #217954;
  }
  
  
  .teal {
    background-color: #02cdb8;
  }
  
  .violet {
    background-color: #c8a2fd;
  }
  
  .orange {
    background-color: #f28c26;
  }
  
  /* Círculos decorativos */
  .decor-circle {
    opacity: 0.7;
  }
  
  /* Botón de Únete */
  .button-container {
    position: absolute;
    display: flex;
    bottom: 3vw; 
    left: 50%;
    transform: translateX(-50%); 
    align-items: end;

}

.join-button {
    display: inline-block;
    padding: 0.5vw 1.5vw;
    border: 0.2vw solid #00695c;
    border-radius: 2vw;
    color: #00695c;
    text-decoration: none;
    font-size: 1vw;
    transition: background 0.3s, color 0.3s;
}

.join-button:hover {
    background-color: #00695c;
    color: #fff;
}

/* Responsividad para dispositivos pequeños */
@media (max-width: 768px) {
    .comunidad-container {
        height: 70vh; 
    }

    .comunidad-title {
        font-size: 5vw;
    }

    .comunidad-subtitle {
        font-size: 3vw;
    }

    .comunidad-line {
        width: 90%;
        top: 30vh; 
    }

    .central-circle {
        width: 10vw;
        height: 10vw;
        font-size: 3vw;
    }
    /* Tamaños más pequeños para los círculos */
    .xsmall {
        width: 1vw;
        height: 1vw;
      }
    .small {
        width: 2vw;
        height: 2vw;
    }

    .medium {
        width: 4vw;
        height: 4vw;
    }

    .large {
        width: 6vw;
        height: 6vw;
    }

    .xlarge {
        width: 8vw;
        height: 8vw;
    }

    /* Ajusta el botón para móviles */
    .join-button {
        padding: 0.8vw 2vw;
        font-size: 2vw;
        border-width: 0.2vw;
    }
}
