.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 3rem;
  margin: 10px 0;
  border-radius: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative; 
}

.cardAqua {
  background-color: #60bfba;
}

.cardYellow {
  background-color: #fcbf1b;
}

.cardPurple {
  color: white;
  background-color: #584f9d;
}

.cardOrange {
  background-color: #f59d15;
}

.cardGreen {
  color: white;
  background-color: #007a75;
}

.cardContent {
  font-size: 2.3rem;
  font-weight: bold;
  text-align: right;
  width: 50%;
}

.cardContentLeft{
  font-size: 2.3rem;
  font-weight: bold;
  width: 50%
}

.card:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  cursor: pointer; 
}

.closer {
  position: absolute; 
  top: 0; 
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.closer svg {
  font-size: 2rem;
}
