/* Footer.css */
.footer-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; 
    align-items: start;
    padding: 1rem;
    width: 85vw; 
    margin: 0; 
    box-sizing: border-box; 
}

  
  .footer-logo {
    position: relative;
    display: flex;
    justify-content: flex-start;
    
  }
  
  .footer-links {
    position: relative;
    display: flex;
    justify-content: center;
    left: 100px;
    gap: 2rem;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
    text-align: left;
  }
  
  .footer-links li {
    margin-bottom: 0.5px;
    color: #686868;
  }
  
  .footer-socials {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1rem;
  }
  
  .social-icon {
    color: #574ea0;
    border: 1px solid #574ea0;
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  